/*
 * Copyright (c) 2023 Martin Jäger / Libre Solar
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	resources:resources {
		compatible = "peripheral";
		g2-gpios = <&gpiog 2 GPIO_ACTIVE_LOW>;
		g3-gpios = <&gpiog 3 GPIO_ACTIVE_LOW>;
		f2-gpios = <&gpiof 2 GPIO_ACTIVE_LOW>;
	};
};
